<h1>Tournament: <%= @game.name %></h1>

<div class="row-fluid">
  <div class="span6">
    <h2> Ratings </h2>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Rating</th>
          <th><abbr title='Wins'>W</abbr></th>
          <th><abbr title='Losses'>L</abbr></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'games/rating', collection: @game.all_ratings %>
      </tbody>
    </table>
  </div>
</div>
