<%= form_for @game, html: {class: "form-horizontal"} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :min_number_of_players_per_team, value: 1, class: "input-mini" %>
  <%= f.hidden_field :min_number_of_teams, value: 2, class: "input-mini" %>

  <h1>New Tournament</h1>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "input-xlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :rating_type, :value => 'elo' %>
    <%= f.hidden_field :max_number_of_players_per_team, :value => 1 %>
    <%= f.hidden_field :max_number_of_teams, :value => 2 %>
    <%= f.hidden_field :allow_ties, :value => true %>

    <%= f.submit class: "btn btn-primary", value: "Create Tournament"%>
    <%= link_to "Cancel", root_path, class: "btn btn-warning" %>
  </div>

<% end %>
