<tr>
	<td>
	  <div class='player'>
		<%= image_tag(rating.player.profile_picture) %>
		<%= link_to rating.player.name, player_game_path(rating.player, @game) %>
	  </div>
	</td>

	<td><%= rating.value %></td>
  <td><%= rating.player.results.for_game(rating.game).wins.size %></td>
  <td><%= rating.player.results.for_game(rating.game).losses.size %></td>
</tr>
