<h1>Tournaments / <%= @game.name %></h1>

<% if current_player.is_admin? %>
  <section class="action-buttons">
    <%= link_to 'Edit', edit_game_path(@game), class: "btn" %>
    <% if @game.results.empty? %>
      <%= link_to "Delete", game_path(@game), method: :delete, confirm: "Are you sure?", class: "btn btn-danger" %>
    <% end %>
  </section>
<% end %>

<div class="row-fluid">
  <div class="span7">
    <h2>Recent Games</h2>
    <%= link_to "Add Result", new_game_result_path(@game), class: "btn btn-primary" %>

    <% if @game.recent_results.any? %>
      <%= render partial: 'shared/results', object: @game.recent_results, locals: {show_game: false} %>
    <% else %>
      <span>No results, play some games!</span>
    <% end %>

  </div>

  <div class="span5">
    <h2>Player Ratings</h2>
    <table id='ratings'>
      <thead>
        <tr>
          <th>Player</th>
          <th>Rating</th>
          <th>W</th>
          <th>L</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'rating', collection: @game.all_ratings.select(&:active?) %>
      </tbody>
    </table>
    <%= link_to "View All", game_ratings_path(@game) %>
  </div>
</div>
