<!DOCTYPE html>
<html>
<head>
  <title>ProjectProject Ping Pong</title>
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black' />
  <meta name='viewport', content='width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = yes' />

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='container'>
    <header>
      <%= link_to root_path, class: "brand" do %>
        <div class='brand-name'>ProjectProject Ping Pong</div>
        <div class='brand-label'>Home</div>
      <% end %>

      <div class="info">
        <em>Logged in as </em><%= current_player.name %> <em>|</em>
        <%= link_to logout_path, class: 'logout', method: 'delete' do %>
          <span>Logout</span>
        <% end %>
      </div>
    </header>

    <div id='main'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
